* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --BG-COLOR: "#FFF";
}

.nav {
  color: red;
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
}
